<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Vue JS</title>
	</head>
	<body>
		<div id="app">
			{{ message }}
		</div>
		<script src="vue.js" type="text/javascript"></script>
		<script>
			let app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vue!'
				}
			});
		</script>
	</body>
</html>